sphinx==3.0.4
recommonmark==0.6.0
-e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
sphinxcontrib.katex
torch
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
